/* .catagory {
  height: 350px;
  width: 350px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 
}
/* .catagory imgtsiiiii {
  width: 100%;
  object-fit: contain;
  max-height: 250px;
  padding: 0px 10px;
} */
/* .catagory a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}
.catagory h2,
.catagory p {
  padding: 5px;
  margin-left: 15px;
}
.catagory p {
  font-size: 12px;
  font-weight: bold;
  color: rgb(9, 132, 209);
}
.catagory_container {
  position: relative;
  margin-top: -10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 15px;
/* tsiiiiiii */
/* grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px; */

/* .catagoryimag {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 10px; tsi */
/* padding: 10px 10px;
  margin: 5px 5px 45px  ;
  place-items: center; */

/* .catagoryimag img {
  max-width: 120px;
  height: 90%;
  object-fit: contain;
} */

.catagory {
  height: 350px;
  width: 350px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.catagory img {
  width: 100%;
  object-fit: contain;
  max-height: 250px;
  padding: 0px 10px;
}
.catagory a {
  text-decoration: none;
  color: rgba(35, 35, 35);
}
.catagory h2,
.catagory p {
  padding: 5px;
  margin-left: 15px;
}
.catagory p {
  font-size: 12px;
  font-weight: bold;
  color: rgba(9, 132, 209);
}
.catagory_container {
  position: relative;
  margin-top: -10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  max-width: 1600px;
  gap: 50px;
  margin-left: auto;
  margin-right: auto;
  place-items: center;
}
